NodeRed/flows.json
[
    {
        "id": "bae5b6abd351d042",
        "type": "tab",
        "label": "Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11f2ec0bb3795d15",
        "type": "tab",
        "label": "Engine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b52268dbc2403df0",
        "type": "tab",
        "label": "FuelTank",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c55a647bb753118b",
        "type": "tab",
        "label": "Wing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bcb8d8a3732c99b",
        "type": "tab",
        "label": "Tyre",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a735da9f68cfbb06",
        "type": "tab",
        "label": "Car",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73d0241437fdc20f",
        "type": "tab",
        "label": "Testing ground",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "647838cfd50be23b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29b6b6fd034b28c4",
        "type": "mqtt in",
        "z": "bae5b6abd351d042",
        "name": "",
        "topic": "initial",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "647838cfd50be23b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "36c2d208ea48c50f"
            ]
        ]
    },
    {
        "id": "c73b708fb56d674b",
        "type": "mqtt out",
        "z": "bae5b6abd351d042",
        "name": "",
        "topic": "values",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "647838cfd50be23b",
        "x": 1470,
        "y": 340,
        "wires": []
    },
    {
        "id": "c4a82dd7c0bb40fd",
        "type": "mqtt in",
        "z": "bae5b6abd351d042",
        "name": "",
        "topic": "simulation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "647838cfd50be23b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 380,
        "wires": [
            [
                "36c2d208ea48c50f"
            ]
        ]
    },
    {
        "id": "36c2d208ea48c50f",
        "type": "split",
        "z": "bae5b6abd351d042",
        "name": "",
        "splt": "|",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "21a614bb0dc74419",
                "d027d422a3f0c5c3",
                "3e74d9e37ba535fa",
                "dbf096010415f99c",
                "dec9ffa7c77600cc",
                "37243c0904f4cb4e",
                "2f3522742af64401",
                "666ff72350b7480e",
                "3a3bff084dfb85e4",
                "173cf940cf810da6",
                "e27b2a4185d57700",
                "9f947fd257fb303a",
                "8f6c6f58091e334c"
            ]
        ]
    },
    {
        "id": "5c5cc24f4956da97",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out Lap",
        "mode": "link",
        "links": [
            "0eafb523e2714fb1",
            "5c1161728a9f4856"
        ],
        "x": 685,
        "y": 60,
        "wires": []
    },
    {
        "id": "fcc78e418e93171f",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out EngineDeg",
        "mode": "link",
        "links": [
            "d6515298015d4fc2"
        ],
        "x": 685,
        "y": 160,
        "wires": []
    },
    {
        "id": "7412b5c907f76b1a",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FuelAmount",
        "mode": "link",
        "links": [
            "1c61342db280f328"
        ],
        "x": 685,
        "y": 200,
        "wires": []
    },
    {
        "id": "441bb0c9ff485f48",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FrontWingDeg",
        "mode": "link",
        "links": [
            "c030b5a859c7831c"
        ],
        "x": 685,
        "y": 260,
        "wires": []
    },
    {
        "id": "0c2677b6b7bc323b",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out RearWingDeg",
        "mode": "link",
        "links": [
            "57cd36333ed82dca"
        ],
        "x": 685,
        "y": 300,
        "wires": []
    },
    {
        "id": "6708654fdc572ecf",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out TyreType",
        "mode": "link",
        "links": [
            "b921a98341b89110"
        ],
        "x": 685,
        "y": 380,
        "wires": []
    },
    {
        "id": "f72d839b026eb14d",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out TyreAge",
        "mode": "link",
        "links": [
            "c3a0e997d839506f"
        ],
        "x": 685,
        "y": 420,
        "wires": []
    },
    {
        "id": "b2a270618b247544",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FRDeg",
        "mode": "link",
        "links": [
            "2631c8e7b30ddae8"
        ],
        "x": 685,
        "y": 480,
        "wires": []
    },
    {
        "id": "44580139b08890d4",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FLDeg",
        "mode": "link",
        "links": [
            "fee2fa124fcec4bb"
        ],
        "x": 685,
        "y": 520,
        "wires": []
    },
    {
        "id": "9421b76399a0b803",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out RRDeg",
        "mode": "link",
        "links": [
            "b42596cd97a3d7ec"
        ],
        "x": 685,
        "y": 560,
        "wires": []
    },
    {
        "id": "f23672595776a28a",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out RLDeg",
        "mode": "link",
        "links": [
            "ef779a70bc6aab94"
        ],
        "x": 685,
        "y": 600,
        "wires": []
    },
    {
        "id": "21a614bb0dc74419",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "5c5cc24f4956da97"
            ]
        ]
    },
    {
        "id": "37243c0904f4cb4e",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "0c2677b6b7bc323b"
            ]
        ]
    },
    {
        "id": "2f3522742af64401",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "6708654fdc572ecf"
            ]
        ]
    },
    {
        "id": "666ff72350b7480e",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "f72d839b026eb14d"
            ]
        ]
    },
    {
        "id": "3a3bff084dfb85e4",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "b2a270618b247544"
            ]
        ]
    },
    {
        "id": "173cf940cf810da6",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "44580139b08890d4"
            ]
        ]
    },
    {
        "id": "e27b2a4185d57700",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "9421b76399a0b803"
            ]
        ]
    },
    {
        "id": "9f947fd257fb303a",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "f23672595776a28a"
            ]
        ]
    },
    {
        "id": "dbf096010415f99c",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "7412b5c907f76b1a"
            ]
        ]
    },
    {
        "id": "3e74d9e37ba535fa",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "fcc78e418e93171f"
            ]
        ]
    },
    {
        "id": "d027d422a3f0c5c3",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "18d5717741f5ab7d"
            ]
        ]
    },
    {
        "id": "dec9ffa7c77600cc",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "441bb0c9ff485f48"
            ]
        ]
    },
    {
        "id": "8f6c6f58091e334c",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 660,
        "wires": [
            [
                "725ed6b824814e93"
            ]
        ]
    },
    {
        "id": "725ed6b824814e93",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out PitStop",
        "mode": "link",
        "links": [
            "bd2ffd8cba887160"
        ],
        "x": 685,
        "y": 660,
        "wires": []
    },
    {
        "id": "11ca849637e935c2",
        "type": "dt-model",
        "z": "bae5b6abd351d042",
        "name": "carModel",
        "x": 1320,
        "y": 340,
        "wires": [
            [
                "c73b708fb56d674b"
            ]
        ]
    },
    {
        "id": "69590fcd4560d51f",
        "type": "inject",
        "z": "bae5b6abd351d042",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "initial",
        "payload": "0|0:00,000|0.0|105.0|0.0|0.0|MEDIUM|1|2.0|2.0|2.0|2.0|noStop|false",
        "payloadType": "str",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "36c2d208ea48c50f"
            ]
        ]
    },
    {
        "id": "927dd42400b5c9a1",
        "type": "inject",
        "z": "bae5b6abd351d042",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "simulation",
        "payload": "5|1:30,123|5.0|99.0|25.0|25.0|MEDIUM|10|2.1|2.2|2.3|2.4|noStop|true",
        "payloadType": "str",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "36c2d208ea48c50f"
            ]
        ]
    },
    {
        "id": "18d5717741f5ab7d",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out LapTime",
        "mode": "link",
        "links": [
            "555ede2956e4ed03",
            "ab2aa339b37781c2"
        ],
        "x": 685,
        "y": 100,
        "wires": []
    },
    {
        "id": "f374fdde5ef0f5e4",
        "type": "link in",
        "z": "bae5b6abd351d042",
        "name": "link in EngineResult",
        "links": [
            "b249d42c05faa318"
        ],
        "x": 805,
        "y": 160,
        "wires": [
            [
                "ac365dcdba9ac01f"
            ]
        ]
    },
    {
        "id": "6dec164db4dc9ed7",
        "type": "link in",
        "z": "bae5b6abd351d042",
        "name": "link in FuelAmountResult",
        "links": [
            "deef379383f737f2"
        ],
        "x": 805,
        "y": 200,
        "wires": [
            [
                "ac365dcdba9ac01f"
            ]
        ]
    },
    {
        "id": "7e79b4652dfced46",
        "type": "link in",
        "z": "bae5b6abd351d042",
        "name": "link in pitStopResult",
        "links": [
            "3fe2bee385375a7f"
        ],
        "x": 805,
        "y": 660,
        "wires": [
            [
                "ac365dcdba9ac01f"
            ]
        ]
    },
    {
        "id": "9333d4a46bf8a4ae",
        "type": "link in",
        "z": "bae5b6abd351d042",
        "name": "link in WingResult",
        "links": [
            "0274201b2afde191"
        ],
        "x": 805,
        "y": 280,
        "wires": [
            [
                "ac365dcdba9ac01f"
            ]
        ]
    },
    {
        "id": "2e1a7d9c8267d242",
        "type": "link in",
        "z": "bae5b6abd351d042",
        "name": "link in TyreResult",
        "links": [
            "d193d3436af563ef"
        ],
        "x": 805,
        "y": 500,
        "wires": [
            [
                "ac365dcdba9ac01f"
            ]
        ]
    },
    {
        "id": "a68e4b7b69009457",
        "type": "link in",
        "z": "bae5b6abd351d042",
        "name": "link in CarResult",
        "links": [
            "3c504b5877158f60"
        ],
        "x": 805,
        "y": 80,
        "wires": [
            [
                "ac365dcdba9ac01f"
            ]
        ]
    },
    {
        "id": "ac365dcdba9ac01f",
        "type": "join",
        "z": "bae5b6abd351d042",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 340,
        "wires": [
            [
                "23c68a82992b84ac"
            ]
        ]
    },
    {
        "id": "23c68a82992b84ac",
        "type": "split",
        "z": "bae5b6abd351d042",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "7bb03816396ee032"
            ]
        ]
    },
    {
        "id": "7bb03816396ee032",
        "type": "join",
        "z": "bae5b6abd351d042",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "11ca849637e935c2"
            ]
        ]
    },
    {
        "id": "761557f6691fffae",
        "type": "dt-asset",
        "z": "11f2ec0bb3795d15",
        "name": "Engine",
        "dtType": "Part",
        "aContext": "",
        "aId": "engine",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "c0b67d3d50d9468e"
            ]
        ]
    },
    {
        "id": "c0b67d3d50d9468e",
        "type": "dt-relation",
        "z": "11f2ec0bb3795d15",
        "name": "partOf",
        "direction": "-->",
        "x": 690,
        "y": 340,
        "wires": [
            [
                "e9a860009288a85f"
            ]
        ]
    },
    {
        "id": "e9a860009288a85f",
        "type": "dt-asset",
        "z": "11f2ec0bb3795d15",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 850,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "47d6d443145d2265",
        "type": "dt-property",
        "z": "11f2ec0bb3795d15",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "percent",
        "aId": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "761557f6691fffae"
            ]
        ]
    },
    {
        "id": "d6515298015d4fc2",
        "type": "link in",
        "z": "11f2ec0bb3795d15",
        "name": "link in engine",
        "links": [
            "d48f013b5d1b2580",
            "fcc78e418e93171f"
        ],
        "x": 125,
        "y": 340,
        "wires": [
            [
                "47d6d443145d2265",
                "b0eb3c78db606919"
            ]
        ]
    },
    {
        "id": "b249d42c05faa318",
        "type": "link out",
        "z": "11f2ec0bb3795d15",
        "name": "link out Engine",
        "mode": "link",
        "links": [
            "f374fdde5ef0f5e4"
        ],
        "x": 455,
        "y": 380,
        "wires": []
    },
    {
        "id": "b0eb3c78db606919",
        "type": "change",
        "z": "11f2ec0bb3795d15",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 380,
        "wires": [
            [
                "b249d42c05faa318"
            ]
        ]
    },
    {
        "id": "4bad8bae2832fc6d",
        "type": "dt-asset",
        "z": "b52268dbc2403df0",
        "name": "FuelTank",
        "dtType": "Part",
        "aContext": "",
        "aId": "fuel",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "c75b14f44a3b6cc3"
            ]
        ]
    },
    {
        "id": "c75b14f44a3b6cc3",
        "type": "dt-relation",
        "z": "b52268dbc2403df0",
        "name": "partOf",
        "direction": "-->",
        "x": 670,
        "y": 320,
        "wires": [
            [
                "3eaea824ba728274"
            ]
        ]
    },
    {
        "id": "3eaea824ba728274",
        "type": "dt-asset",
        "z": "b52268dbc2403df0",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 830,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6b075eefd0219bb9",
        "type": "dt-property",
        "z": "b52268dbc2403df0",
        "name": "amount",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "4bad8bae2832fc6d"
            ]
        ]
    },
    {
        "id": "1c61342db280f328",
        "type": "link in",
        "z": "b52268dbc2403df0",
        "name": "link in fuel",
        "links": [
            "7412b5c907f76b1a"
        ],
        "x": 125,
        "y": 320,
        "wires": [
            [
                "6b075eefd0219bb9",
                "04d38d29381eeb22"
            ]
        ]
    },
    {
        "id": "deef379383f737f2",
        "type": "link out",
        "z": "b52268dbc2403df0",
        "name": "link out Fuel",
        "mode": "link",
        "links": [
            "6dec164db4dc9ed7"
        ],
        "x": 415,
        "y": 360,
        "wires": []
    },
    {
        "id": "04d38d29381eeb22",
        "type": "change",
        "z": "b52268dbc2403df0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "deef379383f737f2"
            ]
        ]
    },
    {
        "id": "2793e69f2ae5fb5a",
        "type": "dt-asset",
        "z": "c55a647bb753118b",
        "name": "FrontWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "c55864623458ea4c"
            ]
        ]
    },
    {
        "id": "c55864623458ea4c",
        "type": "dt-relation",
        "z": "c55a647bb753118b",
        "name": "partOf",
        "direction": "-->",
        "x": 690,
        "y": 540,
        "wires": [
            [
                "e7af5b3fa00c69c9"
            ]
        ]
    },
    {
        "id": "e7af5b3fa00c69c9",
        "type": "dt-asset",
        "z": "c55a647bb753118b",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 870,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "32a944d7516960ad",
        "type": "dt-property",
        "z": "c55a647bb753118b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "2793e69f2ae5fb5a"
            ]
        ]
    },
    {
        "id": "c030b5a859c7831c",
        "type": "link in",
        "z": "c55a647bb753118b",
        "name": "link in frontWing",
        "links": [
            "441bb0c9ff485f48"
        ],
        "x": 125,
        "y": 320,
        "wires": [
            [
                "3eade2e8cb40d461"
            ]
        ]
    },
    {
        "id": "7cbaaaa5f447eb32",
        "type": "dt-asset",
        "z": "c55a647bb753118b",
        "name": "RearWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 480,
        "y": 540,
        "wires": [
            [
                "c55864623458ea4c"
            ]
        ]
    },
    {
        "id": "4bfa4985ceeff319",
        "type": "dt-property",
        "z": "c55a647bb753118b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "7cbaaaa5f447eb32"
            ]
        ]
    },
    {
        "id": "57cd36333ed82dca",
        "type": "link in",
        "z": "c55a647bb753118b",
        "name": "link in rearWing",
        "links": [
            "0c2677b6b7bc323b"
        ],
        "x": 125,
        "y": 400,
        "wires": [
            [
                "4bfa4985ceeff319",
                "a575f054f8a7be88"
            ]
        ]
    },
    {
        "id": "3c7bf63bd1d7fcb0",
        "type": "link in",
        "z": "c55a647bb753118b",
        "name": "link in changeWing",
        "links": [
            "6dd9e2df975c830c"
        ],
        "x": 125,
        "y": 200,
        "wires": [
            [
                "3eade2e8cb40d461"
            ]
        ]
    },
    {
        "id": "3eade2e8cb40d461",
        "type": "join",
        "z": "c55a647bb753118b",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "cb620c825d2e18eb"
            ]
        ]
    },
    {
        "id": "cb620c825d2e18eb",
        "type": "function",
        "z": "c55a647bb753118b",
        "name": "wing function",
        "func": "var newWing = msg.payload[1];\nvar deg = msg.payload[0];\nif (newWing == 'true') deg = \"0\";\nmsg.payload = deg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "32a944d7516960ad",
                "fb7ad3b1b2809470"
            ]
        ]
    },
    {
        "id": "8a85c6dbf994eec6",
        "type": "batch",
        "z": "c55a647bb753118b",
        "name": "",
        "mode": "count",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": ""
            }
        ],
        "x": 290,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "0274201b2afde191",
        "type": "link out",
        "z": "c55a647bb753118b",
        "name": "link out Wing",
        "mode": "link",
        "links": [
            "9333d4a46bf8a4ae"
        ],
        "x": 1305,
        "y": 320,
        "wires": []
    },
    {
        "id": "2cb89dbf807e6838",
        "type": "change",
        "z": "c55a647bb753118b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "0274201b2afde191"
            ]
        ]
    },
    {
        "id": "fb7ad3b1b2809470",
        "type": "change",
        "z": "c55a647bb753118b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "52eadeaf8bf05947"
            ]
        ]
    },
    {
        "id": "a575f054f8a7be88",
        "type": "change",
        "z": "c55a647bb753118b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 400,
        "wires": [
            [
                "52eadeaf8bf05947"
            ]
        ]
    },
    {
        "id": "52eadeaf8bf05947",
        "type": "join",
        "z": "c55a647bb753118b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 770,
        "y": 320,
        "wires": [
            [
                "99251e22218b235d"
            ]
        ]
    },
    {
        "id": "99251e22218b235d",
        "type": "split",
        "z": "c55a647bb753118b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "fdc181f32468f52d"
            ]
        ]
    },
    {
        "id": "fdc181f32468f52d",
        "type": "join",
        "z": "c55a647bb753118b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "2cb89dbf807e6838"
            ]
        ]
    },
    {
        "id": "d0083def439c2ca3",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "FrontRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 1100,
        "y": 500,
        "wires": [
            [
                "89c29fc2cdad3a94"
            ]
        ]
    },
    {
        "id": "89c29fc2cdad3a94",
        "type": "dt-relation",
        "z": "0bcb8d8a3732c99b",
        "name": "partOf",
        "direction": "-->",
        "x": 1330,
        "y": 600,
        "wires": [
            [
                "586af129e995ca77"
            ]
        ]
    },
    {
        "id": "586af129e995ca77",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 1470,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "cb989fc0f05a9349",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "d0083def439c2ca3"
            ]
        ]
    },
    {
        "id": "2631c8e7b30ddae8",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegFR",
        "links": [
            "b2a270618b247544"
        ],
        "x": 55,
        "y": 320,
        "wires": [
            [
                "4ef627432a473ed6"
            ]
        ]
    },
    {
        "id": "b921a98341b89110",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreType",
        "links": [
            "6708654fdc572ecf"
        ],
        "x": 55,
        "y": 180,
        "wires": [
            [
                "755f9d9014e27dc2"
            ]
        ]
    },
    {
        "id": "c3a0e997d839506f",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreAge",
        "links": [
            "f72d839b026eb14d"
        ],
        "x": 55,
        "y": 240,
        "wires": [
            [
                "4ef627432a473ed6"
            ]
        ]
    },
    {
        "id": "f5bbd563a9715fa1",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "type",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "d0083def439c2ca3",
                "486db18827990d21",
                "c8c5a5b4c5e0b8fa",
                "6d11fc0ff4502c43"
            ]
        ]
    },
    {
        "id": "896d5d27761ef465",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "age",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 750,
        "y": 460,
        "wires": [
            [
                "d0083def439c2ca3",
                "486db18827990d21",
                "c8c5a5b4c5e0b8fa",
                "6d11fc0ff4502c43"
            ]
        ]
    },
    {
        "id": "04ceb8b53b3b85ef",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "486db18827990d21"
            ]
        ]
    },
    {
        "id": "9aa660c7cfacb913",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 770,
        "y": 640,
        "wires": [
            [
                "c8c5a5b4c5e0b8fa"
            ]
        ]
    },
    {
        "id": "da027bb9d5ea57b1",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 770,
        "y": 700,
        "wires": [
            [
                "6d11fc0ff4502c43"
            ]
        ]
    },
    {
        "id": "486db18827990d21",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "FrontLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 1100,
        "y": 560,
        "wires": [
            [
                "89c29fc2cdad3a94"
            ]
        ]
    },
    {
        "id": "c8c5a5b4c5e0b8fa",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "RearRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "89c29fc2cdad3a94"
            ]
        ]
    },
    {
        "id": "6d11fc0ff4502c43",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "RearLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "tyre",
        "x": 1090,
        "y": 680,
        "wires": [
            [
                "89c29fc2cdad3a94"
            ]
        ]
    },
    {
        "id": "fee2fa124fcec4bb",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegFL",
        "links": [
            "44580139b08890d4"
        ],
        "x": 55,
        "y": 380,
        "wires": [
            [
                "4ef627432a473ed6"
            ]
        ]
    },
    {
        "id": "b42596cd97a3d7ec",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegRR",
        "links": [
            "9421b76399a0b803"
        ],
        "x": 55,
        "y": 440,
        "wires": [
            [
                "4ef627432a473ed6"
            ]
        ]
    },
    {
        "id": "ef779a70bc6aab94",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegRL",
        "links": [
            "f23672595776a28a"
        ],
        "x": 55,
        "y": 500,
        "wires": [
            [
                "4ef627432a473ed6"
            ]
        ]
    },
    {
        "id": "bd2dd2c19ebbeeed",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in changeTyres",
        "links": [
            "2fa79964cf829d2f"
        ],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "755f9d9014e27dc2",
                "4ef627432a473ed6"
            ]
        ]
    },
    {
        "id": "b71cd592f13d6712",
        "type": "function",
        "z": "0bcb8d8a3732c99b",
        "name": "type function",
        "func": "if(msg.payload[1] == \"noStop\") msg.payload = msg.payload[0];\nelse msg.payload = msg.payload[1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "f5bbd563a9715fa1",
                "cb1997226852c296"
            ]
        ]
    },
    {
        "id": "755f9d9014e27dc2",
        "type": "join",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "b71cd592f13d6712"
            ]
        ]
    },
    {
        "id": "047077f45f76b1fc",
        "type": "function",
        "z": "0bcb8d8a3732c99b",
        "name": "tyre function",
        "func": "var compare = msg.payload[5] == \"noStop\";\nvar age = compare ? msg.payload[0] : 0;\nvar deg1 = compare ? msg.payload[1] : 0;\nvar deg2 = compare ? msg.payload[2] : 0;\nvar deg3 = compare ? msg.payload[3] : 0;\nvar deg4 = compare ? msg.payload[4] : 0;\nmsg.payload = age + \"|\" + deg1 + \"|\" + deg2 + \"|\" + deg3 + \"|\" + deg4\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "6a760a05296016d6"
            ]
        ]
    },
    {
        "id": "6a760a05296016d6",
        "type": "split",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "splt": "|",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "be9a6be59593ef0c",
                "bdc4253006342d1a",
                "083766dd79ab59cd",
                "5a15852f65cbec7b",
                "3c662da1fd7df3f0"
            ]
        ]
    },
    {
        "id": "be9a6be59593ef0c",
        "type": "switch",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "896d5d27761ef465",
                "7d23913e1401d177"
            ]
        ]
    },
    {
        "id": "bdc4253006342d1a",
        "type": "switch",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 520,
        "wires": [
            [
                "cb989fc0f05a9349",
                "cf1d6f52fcc4db0f"
            ]
        ]
    },
    {
        "id": "083766dd79ab59cd",
        "type": "switch",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "04ceb8b53b3b85ef",
                "b551c57dba76ea46"
            ]
        ]
    },
    {
        "id": "5a15852f65cbec7b",
        "type": "switch",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "9aa660c7cfacb913",
                "6ce47c62f2472c01"
            ]
        ]
    },
    {
        "id": "3c662da1fd7df3f0",
        "type": "switch",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 700,
        "wires": [
            [
                "da027bb9d5ea57b1",
                "42196daf80bdc188"
            ]
        ]
    },
    {
        "id": "4ef627432a473ed6",
        "type": "join",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "047077f45f76b1fc"
            ]
        ]
    },
    {
        "id": "d193d3436af563ef",
        "type": "link out",
        "z": "0bcb8d8a3732c99b",
        "name": "link out Tyre",
        "mode": "link",
        "links": [
            "2e1a7d9c8267d242"
        ],
        "x": 1505,
        "y": 320,
        "wires": []
    },
    {
        "id": "cb1997226852c296",
        "type": "change",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "04d376e68f1ef4b4"
            ]
        ]
    },
    {
        "id": "7d23913e1401d177",
        "type": "change",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 260,
        "wires": [
            [
                "04d376e68f1ef4b4"
            ]
        ]
    },
    {
        "id": "cf1d6f52fcc4db0f",
        "type": "change",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "04d376e68f1ef4b4"
            ]
        ]
    },
    {
        "id": "b551c57dba76ea46",
        "type": "change",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "04d376e68f1ef4b4"
            ]
        ]
    },
    {
        "id": "6ce47c62f2472c01",
        "type": "change",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 380,
        "wires": [
            [
                "04d376e68f1ef4b4"
            ]
        ]
    },
    {
        "id": "42196daf80bdc188",
        "type": "change",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 420,
        "wires": [
            [
                "04d376e68f1ef4b4"
            ]
        ]
    },
    {
        "id": "04d376e68f1ef4b4",
        "type": "join",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 990,
        "y": 320,
        "wires": [
            [
                "e5a2c67b218de030"
            ]
        ]
    },
    {
        "id": "c1c852f9dd6e97dc",
        "type": "change",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 320,
        "wires": [
            [
                "d193d3436af563ef"
            ]
        ]
    },
    {
        "id": "e5a2c67b218de030",
        "type": "split",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1110,
        "y": 320,
        "wires": [
            [
                "51fe9dfe75141e25"
            ]
        ]
    },
    {
        "id": "51fe9dfe75141e25",
        "type": "join",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1230,
        "y": 320,
        "wires": [
            [
                "c1c852f9dd6e97dc"
            ]
        ]
    },
    {
        "id": "5ba554ff6d82a51c",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 810,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b43206e362580683",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "Engine",
        "dtType": "Part",
        "aContext": "",
        "aId": "engine",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "8273751516d49442",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FuelTank",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "1a17d402f1bd15e2",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FrontWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "979828f93dfb2a4d",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "RearWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "544468d3f693efa3",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FrontRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "d70e31a6c88c1062",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FrontLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "f894c83a0dc3ac49",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "RearRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "52d210808fa39190",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "RearLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "0eafb523e2714fb1",
        "type": "link in",
        "z": "a735da9f68cfbb06",
        "name": "link in carLap",
        "links": [
            "5c5cc24f4956da97"
        ],
        "x": 375,
        "y": 460,
        "wires": [
            [
                "e9c6f66a1c66ef4f",
                "699355fe4bc223ea"
            ]
        ]
    },
    {
        "id": "9cf53d495c6083ae",
        "type": "dt-relation",
        "z": "a735da9f68cfbb06",
        "name": "partOf",
        "direction": "-->",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "e9c6f66a1c66ef4f",
        "type": "dt-property",
        "z": "a735da9f68cfbb06",
        "name": "lap",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "c6018b4842274d4c",
        "type": "dt-property",
        "z": "a735da9f68cfbb06",
        "name": "lapTime",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "ab2aa339b37781c2",
        "type": "link in",
        "z": "a735da9f68cfbb06",
        "name": "link in carLapTime",
        "links": [
            "5cff9f9d4dd4658e",
            "18d5717741f5ab7d"
        ],
        "x": 375,
        "y": 500,
        "wires": [
            [
                "c6018b4842274d4c",
                "699355fe4bc223ea"
            ]
        ]
    },
    {
        "id": "4f133b5741d6a5f1",
        "type": "dt-property",
        "z": "a735da9f68cfbb06",
        "name": "pitStop",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "bd2ffd8cba887160",
        "type": "link in",
        "z": "a735da9f68cfbb06",
        "name": "link in carPitStop",
        "links": [
            "725ed6b824814e93"
        ],
        "x": 375,
        "y": 560,
        "wires": [
            [
                "4f133b5741d6a5f1",
                "46672840e5c702d9"
            ]
        ]
    },
    {
        "id": "997cd40118f95cf3",
        "type": "dt-action",
        "z": "a735da9f68cfbb06",
        "params": {},
        "name": "changeTyres",
        "x": 1050,
        "y": 620,
        "wires": [
            [
                "2fa79964cf829d2f"
            ]
        ]
    },
    {
        "id": "2fa79964cf829d2f",
        "type": "link out",
        "z": "a735da9f68cfbb06",
        "name": "link out changeTyres",
        "mode": "link",
        "links": [
            "bd2dd2c19ebbeeed"
        ],
        "x": 1175,
        "y": 620,
        "wires": []
    },
    {
        "id": "369905a6ac3eeaf3",
        "type": "dt-action",
        "z": "a735da9f68cfbb06",
        "params": {},
        "name": "changeWing",
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "6dd9e2df975c830c"
            ]
        ]
    },
    {
        "id": "6dd9e2df975c830c",
        "type": "link out",
        "z": "a735da9f68cfbb06",
        "name": "link out changeWing",
        "mode": "link",
        "links": [
            "3c7bf63bd1d7fcb0"
        ],
        "x": 1175,
        "y": 680,
        "wires": []
    },
    {
        "id": "9839e2d1042d2b55",
        "type": "dt-graph",
        "z": "a735da9f68cfbb06",
        "name": "",
        "x": 860,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "57c71d20cd6e864c",
        "type": "switch",
        "z": "a735da9f68cfbb06",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 620,
        "wires": [
            [
                "997cd40118f95cf3"
            ]
        ]
    },
    {
        "id": "6c0e029fb5b89200",
        "type": "split",
        "z": "a735da9f68cfbb06",
        "name": "",
        "splt": "|",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 620,
        "wires": [
            [
                "57c71d20cd6e864c",
                "e0f309873d414502"
            ]
        ]
    },
    {
        "id": "e0f309873d414502",
        "type": "switch",
        "z": "a735da9f68cfbb06",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 680,
        "wires": [
            [
                "369905a6ac3eeaf3"
            ]
        ]
    },
    {
        "id": "eb6177efe906168e",
        "type": "function",
        "z": "a735da9f68cfbb06",
        "name": "pitStop function",
        "func": "var compound = msg.payload[0];\nvar wingChange = msg.payload[1];\nif(compound == 'noStop') wingChange = \"false\";\nmsg.payload = compound + \"|\" + wingChange;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "6c0e029fb5b89200",
                "f403ad39c70f5789"
            ]
        ]
    },
    {
        "id": "3fe2bee385375a7f",
        "type": "link out",
        "z": "a735da9f68cfbb06",
        "name": "link out carPitStop",
        "mode": "link",
        "links": [
            "7e79b4652dfced46"
        ],
        "x": 915,
        "y": 560,
        "wires": []
    },
    {
        "id": "3c504b5877158f60",
        "type": "link out",
        "z": "a735da9f68cfbb06",
        "name": "link out Car",
        "mode": "link",
        "links": [
            "a68e4b7b69009457"
        ],
        "x": 915,
        "y": 500,
        "wires": []
    },
    {
        "id": "699355fe4bc223ea",
        "type": "join",
        "z": "a735da9f68cfbb06",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 500,
        "wires": [
            [
                "7fc950c2632c7729"
            ]
        ]
    },
    {
        "id": "7fc950c2632c7729",
        "type": "change",
        "z": "a735da9f68cfbb06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 500,
        "wires": [
            [
                "3c504b5877158f60"
            ]
        ]
    },
    {
        "id": "f403ad39c70f5789",
        "type": "change",
        "z": "a735da9f68cfbb06",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 560,
        "wires": [
            [
                "3fe2bee385375a7f"
            ]
        ]
    },
    {
        "id": "46672840e5c702d9",
        "type": "join",
        "z": "a735da9f68cfbb06",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 430,
        "y": 620,
        "wires": [
            [
                "eb6177efe906168e"
            ]
        ]
    },
    {
        "id": "9c4ec2825b92dc0f",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "str",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "a34a2f3a4fe5e76c",
                "94d663864e075e0f",
                "b45af6e516f57976",
                "6efdd8d1ec55de21",
                "414af5853abfc4fa",
                "d2b3f48a88e590ee",
                "c92d153e4d265704",
                "5348d9187416cfa1"
            ]
        ]
    },
    {
        "id": "414af5853abfc4fa",
        "type": "dt-property",
        "z": "73d0241437fdc20f",
        "name": "",
        "accessGroup": "",
        "aContext": "float",
        "aId": "",
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b3f48a88e590ee",
        "type": "dt-asset",
        "z": "73d0241437fdc20f",
        "name": "",
        "dtType": "Generic",
        "aContext": "",
        "aId": "",
        "x": 580,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5dfec1b7ba5e14a4",
        "type": "debug",
        "z": "73d0241437fdc20f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 180,
        "wires": []
    },
    {
        "id": "a34a2f3a4fe5e76c",
        "type": "dt-model",
        "z": "73d0241437fdc20f",
        "name": "model",
        "x": 570,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "94d663864e075e0f",
        "type": "dt-action",
        "z": "73d0241437fdc20f",
        "params": {},
        "name": "",
        "x": 580,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b45af6e516f57976",
        "type": "dt-event",
        "z": "73d0241437fdc20f",
        "bound_to": "",
        "name": "",
        "x": 580,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6efdd8d1ec55de21",
        "type": "dt-relation",
        "z": "73d0241437fdc20f",
        "name": "test",
        "direction": "-->",
        "x": 580,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c92d153e4d265704",
        "type": "link out",
        "z": "73d0241437fdc20f",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "a5f592ce026183a1"
        ],
        "x": 295,
        "y": 480,
        "wires": []
    },
    {
        "id": "a5f592ce026183a1",
        "type": "link in",
        "z": "73d0241437fdc20f",
        "name": "link in 1",
        "links": [
            "c92d153e4d265704"
        ],
        "x": 775,
        "y": 360,
        "wires": [
            [
                "31c3afcc73fcc0dd"
            ]
        ]
    },
    {
        "id": "5348d9187416cfa1",
        "type": "link out",
        "z": "73d0241437fdc20f",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "40c174ff1f807c43"
        ],
        "x": 295,
        "y": 520,
        "wires": []
    },
    {
        "id": "40c174ff1f807c43",
        "type": "link in",
        "z": "73d0241437fdc20f",
        "name": "link in 2",
        "links": [
            "5348d9187416cfa1"
        ],
        "x": 775,
        "y": 300,
        "wires": [
            [
                "31c3afcc73fcc0dd"
            ]
        ]
    },
    {
        "id": "163afa05f7f3a68a",
        "type": "function",
        "z": "73d0241437fdc20f",
        "name": "function 2",
        "func": "var text = msg.payload;\nmsg.payload = msg.payload[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "31c3afcc73fcc0dd",
        "type": "join",
        "z": "73d0241437fdc20f",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 420,
        "wires": [
            [
                "163afa05f7f3a68a"
            ]
        ]
    },
    {
        "id": "5c095f0fd5772b55",
        "type": "function",
        "z": "73d0241437fdc20f",
        "name": "function 4",
        "func": "var newWing = msg.payload[0];\nvar deg = msg.payload[1];\nif (newWing == 'true') deg = \"0\";\nmsg.payload = deg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3ac2818d510c789d",
        "type": "join",
        "z": "73d0241437fdc20f",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 930,
        "y": 560,
        "wires": [
            [
                "adccd8bcb4dea9f6"
            ]
        ]
    },
    {
        "id": "dd8165ec5cb052c9",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Medium|3|1|2|3|4",
        "payloadType": "str",
        "x": 600,
        "y": 660,
        "wires": [
            [
                "a04eb477632df96e"
            ]
        ]
    },
    {
        "id": "a04eb477632df96e",
        "type": "split",
        "z": "73d0241437fdc20f",
        "name": "",
        "splt": "|",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 660,
        "wires": [
            [
                "3ac2818d510c789d"
            ]
        ]
    },
    {
        "id": "d7a248d2a645a2da",
        "type": "function",
        "z": "73d0241437fdc20f",
        "name": "function 6",
        "func": "var text = msg.payload.split(\"|\");\nvar compound = text[0];\nvar wingChange = text[1];\nif(compound == \"noStop\") wingChange = \"false\";\nmsg.payload = compound + \"|\" + wingChange;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "35bcd4e9334c185b",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "medium|true",
        "payloadType": "str",
        "x": 970,
        "y": 700,
        "wires": [
            [
                "d7a248d2a645a2da"
            ]
        ]
    },
    {
        "id": "ed641a56e246d076",
        "type": "function",
        "z": "73d0241437fdc20f",
        "name": "function 8",
        "func": "if(msg.payload[0] == \"noStop\") msg.payload = msg.payload[1];\nelse msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "adccd8bcb4dea9f6",
        "type": "function",
        "z": "73d0241437fdc20f",
        "name": "tyre function",
        "func": "var compare = msg.payload[0] == \"noStop\";\nvar age = compare ? msg.payload[1] : 0;\nvar deg1 = compare ? msg.payload[2] : 0;\nvar deg2 = compare ? msg.payload[3] : 0;\nvar deg3 = compare ? msg.payload[4] : 0;\nvar deg4 = compare ? msg.payload[5] : 0;\nmsg.payload = age + \"|\" + deg1 + \"|\" + deg2 + \"|\" + deg3 + \"|\" + deg4\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4bcac12e0fc13c0f",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "4",
                "vt": "num"
            },
            {
                "p": "index",
                "v": "4",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 510,
        "y": 120,
        "wires": [
            [
                "6cc69417da7b9410",
                "721265838a4912fb"
            ]
        ]
    },
    {
        "id": "6cc69417da7b9410",
        "type": "change",
        "z": "73d0241437fdc20f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 40,
        "wires": [
            [
                "8746bbaedf149ad7"
            ]
        ]
    },
    {
        "id": "721265838a4912fb",
        "type": "change",
        "z": "73d0241437fdc20f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "68bab256db009024"
            ]
        ]
    },
    {
        "id": "8746bbaedf149ad7",
        "type": "change",
        "z": "73d0241437fdc20f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 40,
        "wires": [
            [
                "657e671d2d949a0a"
            ]
        ]
    },
    {
        "id": "68bab256db009024",
        "type": "join",
        "z": "73d0241437fdc20f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "d10edcd850648f4c",
                "5dfec1b7ba5e14a4"
            ]
        ]
    },
    {
        "id": "22c72c9e03ca4405",
        "type": "change",
        "z": "73d0241437fdc20f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "808a10e4.3b93",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_1",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 670,
        "y": 740,
        "wires": [
            [
                "b03d3f23.a06af",
                "1fee61e5.52c81e"
            ]
        ]
    },
    {
        "id": "d855bc7e.718fe",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_2",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 670,
        "y": 780,
        "wires": [
            [
                "b03d3f23.a06af",
                "1fee61e5.52c81e"
            ]
        ]
    },
    {
        "id": "56867a1d.5d6f34",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_3",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_3",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 670,
        "y": 820,
        "wires": [
            [
                "b03d3f23.a06af",
                "1fee61e5.52c81e"
            ]
        ]
    },
    {
        "id": "771301f4.09eed",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_4",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_4",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "num",
        "x": 670,
        "y": 860,
        "wires": [
            [
                "b03d3f23.a06af",
                "1fee61e5.52c81e"
            ]
        ]
    },
    {
        "id": "b03d3f23.a06af",
        "type": "join",
        "z": "73d0241437fdc20f",
        "name": "phase_1",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "index",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1020,
        "y": 740,
        "wires": [
            [
                "cc5cc1f3.4c447",
                "8544d79a.65c728"
            ]
        ]
    },
    {
        "id": "85edb486.01e618",
        "type": "debug",
        "z": "73d0241437fdc20f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 740,
        "wires": []
    },
    {
        "id": "cc5cc1f3.4c447",
        "type": "sort",
        "z": "73d0241437fdc20f",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "",
        "targetType": "seq",
        "msgKey": "",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 1230,
        "y": 740,
        "wires": [
            [
                "85edb486.01e618"
            ]
        ]
    },
    {
        "id": "8544d79a.65c728",
        "type": "debug",
        "z": "73d0241437fdc20f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 700,
        "wires": []
    },
    {
        "id": "59450a24.711bd4",
        "type": "sort",
        "z": "73d0241437fdc20f",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 1260,
        "y": 900,
        "wires": [
            [
                "3f4bd05e.387c"
            ]
        ]
    },
    {
        "id": "3f4bd05e.387c",
        "type": "debug",
        "z": "73d0241437fdc20f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 900,
        "wires": []
    },
    {
        "id": "1fee61e5.52c81e",
        "type": "join",
        "z": "73d0241437fdc20f",
        "name": "phase_1",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "index",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1020,
        "y": 900,
        "wires": [
            [
                "59450a24.711bd4"
            ]
        ]
    },
    {
        "id": "657e671d2d949a0a",
        "type": "change",
        "z": "73d0241437fdc20f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "index",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 40,
        "wires": [
            [
                "68bab256db009024"
            ]
        ]
    },
    {
        "id": "5011fa31b33bf0e4",
        "type": "join",
        "z": "73d0241437fdc20f",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1230,
        "y": 140,
        "wires": [
            [
                "5dfec1b7ba5e14a4"
            ]
        ]
    },
    {
        "id": "d10edcd850648f4c",
        "type": "split",
        "z": "73d0241437fdc20f",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "5011fa31b33bf0e4"
            ]
        ]
    }
]