DigitalTwinFormula1/flows.json
[
    {
        "id": "bae5b6abd351d042",
        "type": "tab",
        "label": "Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11f2ec0bb3795d15",
        "type": "tab",
        "label": "Engine",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b52268dbc2403df0",
        "type": "tab",
        "label": "FuelTank",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c55a647bb753118b",
        "type": "tab",
        "label": "Wing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0bcb8d8a3732c99b",
        "type": "tab",
        "label": "Tyre",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a735da9f68cfbb06",
        "type": "tab",
        "label": "Car",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73d0241437fdc20f",
        "type": "tab",
        "label": "Testing ground",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "647838cfd50be23b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "29b6b6fd034b28c4",
        "type": "mqtt in",
        "z": "bae5b6abd351d042",
        "name": "",
        "topic": "initial",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "647838cfd50be23b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "36c2d208ea48c50f"
            ]
        ]
    },
    {
        "id": "c73b708fb56d674b",
        "type": "mqtt out",
        "z": "bae5b6abd351d042",
        "name": "",
        "topic": "hello",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "647838cfd50be23b",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "c4a82dd7c0bb40fd",
        "type": "mqtt in",
        "z": "bae5b6abd351d042",
        "name": "",
        "topic": "simulation",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "647838cfd50be23b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 380,
        "wires": [
            [
                "36c2d208ea48c50f"
            ]
        ]
    },
    {
        "id": "36c2d208ea48c50f",
        "type": "split",
        "z": "bae5b6abd351d042",
        "name": "",
        "splt": "|",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 330,
        "y": 340,
        "wires": [
            [
                "21a614bb0dc74419",
                "d027d422a3f0c5c3",
                "3e74d9e37ba535fa",
                "dbf096010415f99c",
                "dec9ffa7c77600cc",
                "37243c0904f4cb4e",
                "2f3522742af64401",
                "666ff72350b7480e",
                "3a3bff084dfb85e4",
                "173cf940cf810da6",
                "e27b2a4185d57700",
                "9f947fd257fb303a",
                "8f6c6f58091e334c"
            ]
        ]
    },
    {
        "id": "dd01c177089fbaf6",
        "type": "join",
        "z": "bae5b6abd351d042",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "|",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1030,
        "y": 340,
        "wires": [
            [
                "c73b708fb56d674b"
            ]
        ]
    },
    {
        "id": "5c5cc24f4956da97",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out Lap",
        "mode": "link",
        "links": [
            "0eafb523e2714fb1"
        ],
        "x": 685,
        "y": 60,
        "wires": []
    },
    {
        "id": "5cff9f9d4dd4658e",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out LapTime",
        "mode": "link",
        "links": [
            "ab2aa339b37781c2"
        ],
        "x": 685,
        "y": 100,
        "wires": []
    },
    {
        "id": "fcc78e418e93171f",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out EngineDeg",
        "mode": "link",
        "links": [
            "d6515298015d4fc2"
        ],
        "x": 685,
        "y": 160,
        "wires": []
    },
    {
        "id": "7412b5c907f76b1a",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FuelAmount",
        "mode": "link",
        "links": [
            "1c61342db280f328"
        ],
        "x": 685,
        "y": 200,
        "wires": []
    },
    {
        "id": "441bb0c9ff485f48",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FrontWingDeg",
        "mode": "link",
        "links": [
            "c030b5a859c7831c"
        ],
        "x": 685,
        "y": 260,
        "wires": []
    },
    {
        "id": "0c2677b6b7bc323b",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out RearWingDeg",
        "mode": "link",
        "links": [
            "57cd36333ed82dca"
        ],
        "x": 685,
        "y": 300,
        "wires": []
    },
    {
        "id": "6708654fdc572ecf",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out TyreType",
        "mode": "link",
        "links": [
            "b921a98341b89110"
        ],
        "x": 685,
        "y": 380,
        "wires": []
    },
    {
        "id": "f72d839b026eb14d",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out TyreAge",
        "mode": "link",
        "links": [
            "c3a0e997d839506f"
        ],
        "x": 685,
        "y": 420,
        "wires": []
    },
    {
        "id": "b2a270618b247544",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FRDeg",
        "mode": "link",
        "links": [
            "2631c8e7b30ddae8"
        ],
        "x": 685,
        "y": 480,
        "wires": []
    },
    {
        "id": "44580139b08890d4",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out FLDeg",
        "mode": "link",
        "links": [
            "fee2fa124fcec4bb"
        ],
        "x": 685,
        "y": 520,
        "wires": []
    },
    {
        "id": "9421b76399a0b803",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out RRDeg",
        "mode": "link",
        "links": [
            "b42596cd97a3d7ec"
        ],
        "x": 685,
        "y": 560,
        "wires": []
    },
    {
        "id": "f23672595776a28a",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out RLDeg",
        "mode": "link",
        "links": [
            "ef779a70bc6aab94"
        ],
        "x": 685,
        "y": 600,
        "wires": []
    },
    {
        "id": "21a614bb0dc74419",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 60,
        "wires": [
            [
                "5c5cc24f4956da97",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "37243c0904f4cb4e",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "0c2677b6b7bc323b",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "2f3522742af64401",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 380,
        "wires": [
            [
                "6708654fdc572ecf",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "666ff72350b7480e",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "f72d839b026eb14d",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "3a3bff084dfb85e4",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 480,
        "wires": [
            [
                "b2a270618b247544",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "173cf940cf810da6",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "44580139b08890d4",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "e27b2a4185d57700",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 560,
        "wires": [
            [
                "9421b76399a0b803",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "9f947fd257fb303a",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "f23672595776a28a",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "dbf096010415f99c",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "7412b5c907f76b1a",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "3e74d9e37ba535fa",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "fcc78e418e93171f",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "d027d422a3f0c5c3",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "5cff9f9d4dd4658e",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "dec9ffa7c77600cc",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "441bb0c9ff485f48",
                "dd01c177089fbaf6"
            ]
        ]
    },
    {
        "id": "8f6c6f58091e334c",
        "type": "switch",
        "z": "bae5b6abd351d042",
        "name": "",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "12",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 660,
        "wires": [
            [
                "dd01c177089fbaf6",
                "725ed6b824814e93"
            ]
        ]
    },
    {
        "id": "725ed6b824814e93",
        "type": "link out",
        "z": "bae5b6abd351d042",
        "name": "link out PitStop",
        "mode": "link",
        "links": [
            "bd2ffd8cba887160"
        ],
        "x": 685,
        "y": 660,
        "wires": []
    },
    {
        "id": "761557f6691fffae",
        "type": "dt-asset",
        "z": "11f2ec0bb3795d15",
        "name": "Engine",
        "dtType": "Part",
        "aContext": "",
        "aId": "engine",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "c0b67d3d50d9468e",
                "b249d42c05faa318"
            ]
        ]
    },
    {
        "id": "c0b67d3d50d9468e",
        "type": "dt-relation",
        "z": "11f2ec0bb3795d15",
        "name": "partOf",
        "direction": "-->",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "e9a860009288a85f"
            ]
        ]
    },
    {
        "id": "e9a860009288a85f",
        "type": "dt-asset",
        "z": "11f2ec0bb3795d15",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 870,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "47d6d443145d2265",
        "type": "dt-property",
        "z": "11f2ec0bb3795d15",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "percent",
        "aId": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "761557f6691fffae"
            ]
        ]
    },
    {
        "id": "d6515298015d4fc2",
        "type": "link in",
        "z": "11f2ec0bb3795d15",
        "name": "link in engine",
        "links": [
            "d48f013b5d1b2580",
            "fcc78e418e93171f"
        ],
        "x": 125,
        "y": 340,
        "wires": [
            [
                "47d6d443145d2265"
            ]
        ]
    },
    {
        "id": "b249d42c05faa318",
        "type": "link out",
        "z": "11f2ec0bb3795d15",
        "name": "link out engine",
        "mode": "link",
        "links": [
            "49d185683cd623a7"
        ],
        "x": 655,
        "y": 340,
        "wires": []
    },
    {
        "id": "4bad8bae2832fc6d",
        "type": "dt-asset",
        "z": "b52268dbc2403df0",
        "name": "FuelTank",
        "dtType": "Part",
        "aContext": "",
        "aId": "fuel",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "c75b14f44a3b6cc3",
                "deef379383f737f2"
            ]
        ]
    },
    {
        "id": "c75b14f44a3b6cc3",
        "type": "dt-relation",
        "z": "b52268dbc2403df0",
        "name": "partOf",
        "direction": "-->",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "3eaea824ba728274"
            ]
        ]
    },
    {
        "id": "3eaea824ba728274",
        "type": "dt-asset",
        "z": "b52268dbc2403df0",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 830,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6b075eefd0219bb9",
        "type": "dt-property",
        "z": "b52268dbc2403df0",
        "name": "amount",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "4bad8bae2832fc6d"
            ]
        ]
    },
    {
        "id": "1c61342db280f328",
        "type": "link in",
        "z": "b52268dbc2403df0",
        "name": "link in fuel",
        "links": [
            "7412b5c907f76b1a"
        ],
        "x": 125,
        "y": 320,
        "wires": [
            [
                "6b075eefd0219bb9"
            ]
        ]
    },
    {
        "id": "deef379383f737f2",
        "type": "link out",
        "z": "b52268dbc2403df0",
        "name": "link out fuel",
        "mode": "link",
        "links": [
            "fcddc51e45bc1e55"
        ],
        "x": 615,
        "y": 320,
        "wires": []
    },
    {
        "id": "2793e69f2ae5fb5a",
        "type": "dt-asset",
        "z": "c55a647bb753118b",
        "name": "FrontWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "c55864623458ea4c",
                "de60ed638fd764ac"
            ]
        ]
    },
    {
        "id": "c55864623458ea4c",
        "type": "dt-relation",
        "z": "c55a647bb753118b",
        "name": "partOf",
        "direction": "-->",
        "x": 690,
        "y": 320,
        "wires": [
            [
                "e7af5b3fa00c69c9"
            ]
        ]
    },
    {
        "id": "e7af5b3fa00c69c9",
        "type": "dt-asset",
        "z": "c55a647bb753118b",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 830,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "32a944d7516960ad",
        "type": "dt-property",
        "z": "c55a647bb753118b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "2793e69f2ae5fb5a"
            ]
        ]
    },
    {
        "id": "c030b5a859c7831c",
        "type": "link in",
        "z": "c55a647bb753118b",
        "name": "link in frontWing",
        "links": [
            "441bb0c9ff485f48"
        ],
        "x": 125,
        "y": 320,
        "wires": [
            [
                "32a944d7516960ad"
            ]
        ]
    },
    {
        "id": "763accd505f13158",
        "type": "link out",
        "z": "c55a647bb753118b",
        "name": "link out wing",
        "mode": "link",
        "links": [
            "64e47855fce4d74d"
        ],
        "x": 795,
        "y": 400,
        "wires": []
    },
    {
        "id": "7cbaaaa5f447eb32",
        "type": "dt-asset",
        "z": "c55a647bb753118b",
        "name": "RearWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 480,
        "y": 400,
        "wires": [
            [
                "c55864623458ea4c",
                "de60ed638fd764ac"
            ]
        ]
    },
    {
        "id": "4bfa4985ceeff319",
        "type": "dt-property",
        "z": "c55a647bb753118b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "7cbaaaa5f447eb32"
            ]
        ]
    },
    {
        "id": "57cd36333ed82dca",
        "type": "link in",
        "z": "c55a647bb753118b",
        "name": "link in rearWing",
        "links": [
            "0c2677b6b7bc323b"
        ],
        "x": 125,
        "y": 400,
        "wires": [
            [
                "4bfa4985ceeff319"
            ]
        ]
    },
    {
        "id": "de60ed638fd764ac",
        "type": "join",
        "z": "c55a647bb753118b",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "763accd505f13158"
            ]
        ]
    },
    {
        "id": "3c7bf63bd1d7fcb0",
        "type": "link in",
        "z": "c55a647bb753118b",
        "name": "link in 1",
        "links": [
            "6dd9e2df975c830c"
        ],
        "x": 125,
        "y": 220,
        "wires": [
            [
                "32a944d7516960ad"
            ]
        ]
    },
    {
        "id": "d0083def439c2ca3",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "FrontRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 720,
        "y": 320,
        "wires": [
            [
                "89c29fc2cdad3a94",
                "7f457bc10835b3d8"
            ]
        ]
    },
    {
        "id": "89c29fc2cdad3a94",
        "type": "dt-relation",
        "z": "0bcb8d8a3732c99b",
        "name": "partOf",
        "direction": "-->",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "586af129e995ca77"
            ]
        ]
    },
    {
        "id": "586af129e995ca77",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 1330,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "cb989fc0f05a9349",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "d0083def439c2ca3"
            ]
        ]
    },
    {
        "id": "2631c8e7b30ddae8",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegFR",
        "links": [
            "b2a270618b247544"
        ],
        "x": 55,
        "y": 320,
        "wires": [
            [
                "cb989fc0f05a9349"
            ]
        ]
    },
    {
        "id": "b921a98341b89110",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreType",
        "links": [
            "6708654fdc572ecf"
        ],
        "x": 55,
        "y": 180,
        "wires": [
            [
                "f5bbd563a9715fa1"
            ]
        ]
    },
    {
        "id": "c3a0e997d839506f",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreAge",
        "links": [
            "f72d839b026eb14d"
        ],
        "x": 55,
        "y": 240,
        "wires": [
            [
                "896d5d27761ef465"
            ]
        ]
    },
    {
        "id": "f5bbd563a9715fa1",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "type",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "d0083def439c2ca3",
                "486db18827990d21",
                "c8c5a5b4c5e0b8fa",
                "6d11fc0ff4502c43"
            ]
        ]
    },
    {
        "id": "896d5d27761ef465",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "age",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "d0083def439c2ca3",
                "486db18827990d21",
                "c8c5a5b4c5e0b8fa",
                "6d11fc0ff4502c43"
            ]
        ]
    },
    {
        "id": "79ce76903fecdbc2",
        "type": "link out",
        "z": "0bcb8d8a3732c99b",
        "name": "link out tyre",
        "mode": "link",
        "links": [
            "5b2a8b347bf2a53c"
        ],
        "x": 1295,
        "y": 500,
        "wires": []
    },
    {
        "id": "04ceb8b53b3b85ef",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "486db18827990d21"
            ]
        ]
    },
    {
        "id": "9aa660c7cfacb913",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "c8c5a5b4c5e0b8fa"
            ]
        ]
    },
    {
        "id": "da027bb9d5ea57b1",
        "type": "dt-property",
        "z": "0bcb8d8a3732c99b",
        "name": "degradation",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "6d11fc0ff4502c43"
            ]
        ]
    },
    {
        "id": "486db18827990d21",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "FrontLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 720,
        "y": 380,
        "wires": [
            [
                "89c29fc2cdad3a94",
                "7f457bc10835b3d8"
            ]
        ]
    },
    {
        "id": "c8c5a5b4c5e0b8fa",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "RearRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 720,
        "y": 440,
        "wires": [
            [
                "89c29fc2cdad3a94",
                "7f457bc10835b3d8"
            ]
        ]
    },
    {
        "id": "6d11fc0ff4502c43",
        "type": "dt-asset",
        "z": "0bcb8d8a3732c99b",
        "name": "RearLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "tyre",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "89c29fc2cdad3a94",
                "7f457bc10835b3d8"
            ]
        ]
    },
    {
        "id": "fee2fa124fcec4bb",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegFL",
        "links": [
            "44580139b08890d4"
        ],
        "x": 55,
        "y": 380,
        "wires": [
            [
                "04ceb8b53b3b85ef"
            ]
        ]
    },
    {
        "id": "b42596cd97a3d7ec",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegRR",
        "links": [
            "9421b76399a0b803"
        ],
        "x": 55,
        "y": 440,
        "wires": [
            [
                "9aa660c7cfacb913"
            ]
        ]
    },
    {
        "id": "ef779a70bc6aab94",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in tyreDegRL",
        "links": [
            "f23672595776a28a"
        ],
        "x": 55,
        "y": 500,
        "wires": [
            [
                "da027bb9d5ea57b1"
            ]
        ]
    },
    {
        "id": "7f457bc10835b3d8",
        "type": "join",
        "z": "0bcb8d8a3732c99b",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "79ce76903fecdbc2"
            ]
        ]
    },
    {
        "id": "bd2dd2c19ebbeeed",
        "type": "link in",
        "z": "0bcb8d8a3732c99b",
        "name": "link in 2",
        "links": [
            "2fa79964cf829d2f"
        ],
        "x": 55,
        "y": 60,
        "wires": [
            [
                "f5bbd563a9715fa1",
                "896d5d27761ef465",
                "cb989fc0f05a9349",
                "04ceb8b53b3b85ef",
                "9aa660c7cfacb913",
                "da027bb9d5ea57b1"
            ]
        ]
    },
    {
        "id": "5ba554ff6d82a51c",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "Car",
        "dtType": "Generic",
        "aContext": "",
        "aId": "car",
        "x": 810,
        "y": 400,
        "wires": [
            [
                "65bd2e54c21a5fb4",
                "997cd40118f95cf3",
                "369905a6ac3eeaf3"
            ]
        ]
    },
    {
        "id": "65bd2e54c21a5fb4",
        "type": "dt-model",
        "z": "a735da9f68cfbb06",
        "name": "CarModel",
        "x": 980,
        "y": 400,
        "wires": [
            [
                "b4fc171862d129e2"
            ]
        ]
    },
    {
        "id": "b43206e362580683",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "Engine",
        "dtType": "Part",
        "aContext": "",
        "aId": "engine",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "8273751516d49442",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FuelTank",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "1a17d402f1bd15e2",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FrontWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "979828f93dfb2a4d",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "RearWing",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "544468d3f693efa3",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FrontRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "d70e31a6c88c1062",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "FrontLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "f894c83a0dc3ac49",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "RearRightTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "52d210808fa39190",
        "type": "dt-asset",
        "z": "a735da9f68cfbb06",
        "name": "RearLeftTyre",
        "dtType": "Part",
        "aContext": "",
        "aId": "",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "9cf53d495c6083ae"
            ]
        ]
    },
    {
        "id": "0eafb523e2714fb1",
        "type": "link in",
        "z": "a735da9f68cfbb06",
        "name": "link in carLap",
        "links": [
            "5c5cc24f4956da97"
        ],
        "x": 375,
        "y": 460,
        "wires": [
            [
                "e9c6f66a1c66ef4f"
            ]
        ]
    },
    {
        "id": "9cf53d495c6083ae",
        "type": "dt-relation",
        "z": "a735da9f68cfbb06",
        "name": "partOf",
        "direction": "-->",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "e9c6f66a1c66ef4f",
        "type": "dt-property",
        "z": "a735da9f68cfbb06",
        "name": "lap",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "c6018b4842274d4c",
        "type": "dt-property",
        "z": "a735da9f68cfbb06",
        "name": "lapTime",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 640,
        "y": 500,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "b4fc171862d129e2",
        "type": "link out",
        "z": "a735da9f68cfbb06",
        "name": "link out car",
        "mode": "link",
        "links": [
            "db0a0a40d94fd714",
            "75365547023251d6"
        ],
        "x": 1175,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab2aa339b37781c2",
        "type": "link in",
        "z": "a735da9f68cfbb06",
        "name": "link in carLapTime",
        "links": [
            "5cff9f9d4dd4658e"
        ],
        "x": 375,
        "y": 500,
        "wires": [
            [
                "c6018b4842274d4c"
            ]
        ]
    },
    {
        "id": "4f133b5741d6a5f1",
        "type": "dt-property",
        "z": "a735da9f68cfbb06",
        "name": "pitStop",
        "accessGroup": "",
        "aContext": "",
        "aId": "",
        "x": 640,
        "y": 560,
        "wires": [
            [
                "5ba554ff6d82a51c"
            ]
        ]
    },
    {
        "id": "bd2ffd8cba887160",
        "type": "link in",
        "z": "a735da9f68cfbb06",
        "name": "link in carPitStop",
        "links": [
            "725ed6b824814e93"
        ],
        "x": 375,
        "y": 560,
        "wires": [
            [
                "4f133b5741d6a5f1"
            ]
        ]
    },
    {
        "id": "eff95350219c5fa1",
        "type": "dt-graph",
        "z": "a735da9f68cfbb06",
        "name": "",
        "x": 920,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "997cd40118f95cf3",
        "type": "dt-action",
        "z": "a735da9f68cfbb06",
        "params": {},
        "name": "changeTyres",
        "x": 910,
        "y": 560,
        "wires": [
            [
                "2fa79964cf829d2f"
            ]
        ]
    },
    {
        "id": "2fa79964cf829d2f",
        "type": "link out",
        "z": "a735da9f68cfbb06",
        "name": "link out changeTyres",
        "mode": "link",
        "links": [
            "bd2dd2c19ebbeeed"
        ],
        "x": 1065,
        "y": 560,
        "wires": []
    },
    {
        "id": "369905a6ac3eeaf3",
        "type": "dt-action",
        "z": "a735da9f68cfbb06",
        "params": {},
        "name": "changeWing",
        "x": 910,
        "y": 600,
        "wires": [
            [
                "6dd9e2df975c830c"
            ]
        ]
    },
    {
        "id": "6dd9e2df975c830c",
        "type": "link out",
        "z": "a735da9f68cfbb06",
        "name": "link out changeWing",
        "mode": "link",
        "links": [
            "3c7bf63bd1d7fcb0"
        ],
        "x": 1065,
        "y": 600,
        "wires": []
    },
    {
        "id": "9c4ec2825b92dc0f",
        "type": "inject",
        "z": "73d0241437fdc20f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.2",
        "payloadType": "str",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "5dfec1b7ba5e14a4",
                "1ecde64a32f82653"
            ]
        ]
    },
    {
        "id": "414af5853abfc4fa",
        "type": "dt-property",
        "z": "73d0241437fdc20f",
        "name": "",
        "accessGroup": "",
        "aContext": "float",
        "aId": "",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "d2b3f48a88e590ee",
                "5dfec1b7ba5e14a4"
            ]
        ]
    },
    {
        "id": "d2b3f48a88e590ee",
        "type": "dt-asset",
        "z": "73d0241437fdc20f",
        "name": "",
        "dtType": "Generic",
        "aContext": "",
        "aId": "",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "a34a2f3a4fe5e76c",
                "94d663864e075e0f",
                "5dfec1b7ba5e14a4"
            ]
        ]
    },
    {
        "id": "5dfec1b7ba5e14a4",
        "type": "debug",
        "z": "73d0241437fdc20f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "a34a2f3a4fe5e76c",
        "type": "dt-model",
        "z": "73d0241437fdc20f",
        "name": "model",
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "5dfec1b7ba5e14a4"
            ]
        ]
    },
    {
        "id": "1ecde64a32f82653",
        "type": "function",
        "z": "73d0241437fdc20f",
        "name": "function 1",
        "func": "msg.payload = parseFloat(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "414af5853abfc4fa"
            ]
        ]
    },
    {
        "id": "94d663864e075e0f",
        "type": "dt-action",
        "z": "73d0241437fdc20f",
        "params": {},
        "name": "",
        "x": 1080,
        "y": 120,
        "wires": [
            []
        ]
    }
]